body.entrada {
    background: url('/img/background-entrada.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    .wrapper {
        position: absolute;
        width: 100%;
        top: 60px;
        @media screen and (max-width: $break-large) {
            top: 0px;
        }
        .logo {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 25px 0;
        }
        .conteudo {
            width: 76%;
            margin: 0 auto; // display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            >div {
                flex: 50%;
                padding: 40px 10px;
            }
            @media screen and (max-width: $break-large) {
                >div {
                    flex: 100%;
                }
            }
            .descricao {
                text-align: left;
                font-size: 1.2rem;
                color: #ffffff;
                margin-top: 30px;
                background-color: rgba(0, 0, 0, 0.3);
                p {
                    margin: 0;
                }
                strong {
                    font-size: 1.9rem;
                    color: #eb8c5d;
                }
            }
            .botoes {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                flex-direction: column;
                .btn {
                    width: 80%;
                    transition: all .250s ease;
                    color: #fff;
                }
            }
        }
    }
}