APP_ENV=local
APP_DEBUG=true
APP_KEY=E9ZOLS4MvqMKFePpzWTar6EX5ljfSzJz

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PASS_USER_ONE=
EMAIL_USER_ONE=marcosdefontes@gmail.com
NAME_USER_ONE="Marcos Freire"
REGIAO_USER_ONE="Cruzeiro"
TEL_USER_ONE="6181146481"
