body.app {
    #header {
        background: cor("diakonia-secondary", "base");
        background: -webkit-linear-gradient(45deg, cor("diakonia-secondary", "darker-9") 0%, cor("diakonia-secondary", "base") 100%);
        background: linear-gradient(45deg, cor("diakonia-secondary", "darker-9") 0%, cor("diakonia-secondary", "base") 100%);
        nav {
            background: inherit;
        }
    }
}