body.app {
    .gradient-blue {
        background: #3369E6;
        background: -webkit-linear-gradient(45deg, #3369E6 0%, #26c6da 100%);
        background: linear-gradient(45deg, #3369E6 0%, #26c6da 100%);
    }
}