/*
https://coolors.co/e63946-376c8c-e8e9eb-96bbbb-618985
*/

.cor1{
  color: #e63946;
}

.cor2{
  color: #376c8c;
}

.cor3{
  color: #e8e9eb;
}

.cor4{
  color: #96bbbb;
}

.cor5{
  color: #618985;
}
