

.phone-input{
	margin-bottom:8px;
}
.tabela > .consulta-membros, .tabela > .consulta-membros td{
	font-size: 1.2rem;
}

input.collapse-input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input.collapse-input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input.collapse-input[type=checkbox] + label:before { content: "\f078"; } /* unchecked icon */
input.collapse-input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input.collapse-input[type=checkbox]:checked + label:before { content: "\f077"; } /* checked icon */
input.collapse-input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

.lbl-margin-center{margin-top: 6px;}

.required{color:#E63946;}

.button-link{
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

div.relacionamentos{
    font-size: 14px;
}
div.relacionamentos ul{display: table-row;}
div.relacionamentos ul li{
    vertical-align: middle;
    line-height: 28px;
    height: 28px;
    list-style-type: none;
}

.add-relacionamento{margin-top: 15px;}
.incluir-relacionamento{margin-right: 5px;}

.profile-img-membro{width: 140px;}

table.grupo-caseiro, table.regiao{width: auto;}
