/* Definições Gerais */
.table tbody{font-size: 15px;}
.table tbody>tr>td.middle-align,.table tbody>tr>th.middle-align{vertical-align: middle;}
.tool-container, .tool-item, .btn-toolbar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



.alert{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
	font-weight: bold;}
	.alert.bg-success{color: #3c763d;border: 1px solid #67cc69;}
	.alert.bg-warning{color: #63581a;border: 1px solid #e0d17b;}
	.alert.bg-danger{color: #7d1f1f;border: 1px solid #de9494;}
/* Páginas da seção MEMBROS */
/* Estilo botão para expandir/retrair o painel*/
input.collapse-input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input.collapse-input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;}
	input.collapse-input[type=checkbox] + label:before { content: "\f078"; } /* unchecked icon */
	input.collapse-input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
	input.collapse-input[type=checkbox]:checked + label:before { content: "\f077"; } /* checked icon */
	input.collapse-input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

	.lbl-margin-center{margin-top: 6px;}

option[value=""][disabled] {display: none;}
label.required:before{content: '*';color: #E63946;}

.conteudo table > thead > tr >th{text-align: center;}

.phone-input{margin-bottom:8px;}

.tabela > .consulta-membros
, .tabela > .consulta-membros td{font-size: 1.2rem;}

div.relacionamentos{
    font-size: 14px;}
	div.relacionamentos ul{display: table-row;}
	div.relacionamentos ul li{
	    vertical-align: middle;
	    line-height: 28px;
	    height: 28px;
	    list-style-type: none;}

.add-relacionamento{margin-top: 15px;}
.incluir-relacionamento{margin-right: 5px;}
.profile-img-membro{width: 140px;}

table.grupo-caseiro, table.regiao{width: auto;}

/**
 * Padrão Botão Flutuante
 **/
.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;}
	.btn-floating i {
		line-height: 56px;}
.btn-large {
    height: 54px;
    line-height: 54px;}
	.btn-floating.btn-large {
    width: 56px;
    height: 56px;}

.btn-add-colaborador{
	display: inline-block;
	text-align: center;
	height: 100%;
    width: 44px;
    background-color: #229d2a;
	color: #ffffff;
    position: absolute;
    right: 0;
	font-size: 20px;
    top: 0;
    line-height: 75px;}
	.btn-add-colaborador:hover{
		background-color: #449d44;
	    border-color: #398439;
		color:#fff;
	}

/* Música */
ul.lideres{list-style: none;padding-left: 10px;}
ul.lideres li.link{cursor: pointer;padding: 5px;margin: 2px;border: 1px solid #adcbed;border-radius: 4px;}
ul.lideres li.na-escala{
    padding: 5px;
    margin: 2px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #b3b3b3;}
ul.lideres li.link:hover{cursor: pointer;background-color: #adcbed;font-weight: bold;}

div.add-servico-colaborador{
	margin: 0 20px 5px 0;
	border-radius: 4px;
	border: 1px solid #adcbed;}
	div.add-servico-colaborador .colaborador-data{
		font-weight: bold;	}
        div.add-servico-colaborador .colaborador-data > .nome{
            padding: 15px 0 0 5px;display: flex;
        }
	div.add-servico-colaborador img.colaborador{
		border-radius: 4px;float: left;vertical-align: middle;}
	div.add-servico-colaborador > .col-md-3, div.add-servico-colaborador > .col-md-2{
		padding-left: 0;}
	div.add-servico-colaborador > .tarefa-action{
		line-height: 70px;}
	div.add-servico-colaborador > .tarefa-action .outros-servicos{
    border: 1px solid #e6d939; display: inline;padding: 10px; border-radius: 4px;
		}
	div.add-servico-colaborador > .tarefa-action .impedimento{
    border: 1px solid #e6d939;
    background-color: #e6e86f;
    display: inline;padding: 10px;
    border-radius: 4px;		}
	div.add-servico-colaborador form{
		display: inline;}
	div.add-servico-colaborador.escalado{
		border-color: #cccccc;
		background-color: #dddddd;}
	div.add-servico-colaborador span.escalado{
		font-style: italic;
		color: #666;
	}



.add-servico-colaborador > div {display: inline;}
.escala.publicacao .alert{margin-bottom: 5px;}

.escala-info{display: inline-block;}
.escala-info div{
    display: inline-block;
    margin-right: 1px;
    padding: 6px;
    border-radius: 1px;
    width: 32px;
    text-align: center;}
.status-escala{color: #ffffff;}
    .status-escala.sem-escala{background-color: #E63946;}
    .status-escala.escala-criada{background-color: #d19227;}
    .status-escala.escala-publicada{background-color: #20911f;}
.escala-info .impedimento{background-color: #ebd59e;}
.escala-info .usuario-impedido{background-color: #e4a192;}
.escala-info .escalado{background-color: #1978e7;color:#fff;}
.escala-info .lider{background-color: #213496;color:#edecc5;}
.btn-toolbar{border-radius: 2px;padding: 6px;display: inline-block;margin-left: 1px;}

.modal .escala-info{display: block;}
.modal .escala-info div{display: inline-block;}
.modal-body.ajuda div{margin-bottom: 5px;}
.escala-info .btn-acao{color: #02baf2;background-color: #364347;}
.escala-info .toolbar-btn-ajuda{color: #b2c6cd;background-color: #5e696d;margin-left: 10px;}

.add-servico-colaborador .historico{margin-right: 15px;}
ul.lideres li .historico{display: inline-block;}
    .historico ul{
        list-style: none;
        display: inline;
        padding: 0;
        -webkit-padding-start: 0;}
        .historico ul li{
            display: inline-block;
            margin: 0;
            line-height: 30px;
            border: 1px solid #f9f9f9;
            width: 30px;
            min-width: 30px;
            height: 30px;
            text-align: center;}
        .historico li.escalado , ul.lideres li .historico li.escalado
        , ul.lideres li.escalado .historico li.escalado{background-color: #2a8629;color: #FFFFFF;}
        .historico li.atual{border: 1px solid #bb2c0d;}
        .historico li.nao-escalado{background-color: #bac1ba;color: #888888;}
