html {
  height: 100%; }

body {
  padding-top: 0px;
  height: 100%;
  position: relative;
  font-size: 13px; }

* {
  outline: none; }

.row > [class*="col-"] {
  margin-bottom: 25px; }

.row.no-margin-bottom > [class*="col-"] {
  margin-bottom: 10px; }

.row.no-gap {
  margin-left: 0;
  margin-right: 0; }
  .row.no-gap > [class*="col-"] {
    padding-left: 0;
    padding-right: 0px; }

.no-padding {
  padding: 0px !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.font-weight-300 {
  font-weight: 300; }

.text-indent {
  text-indent: 1em; }

.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .navbar > .container, .navbar > .container-fluid {
    z-index: 10001; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      height: 60px;
      line-height: 60px;
      margin-left: 0px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      padding: 0;
      font-size: 1.5em; }
      .navbar > .container .navbar-brand .fa-angle-right, .navbar > .container-fluid .navbar-brand .fa-angle-right {
        margin-left: 5px;
        margin-right: 5px; }

    .navbar > .container .navbar-expand-toggle, .navbar > .container-fluid .navbar-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      float: left;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar > .container .navbar-right-expand-toggle, .navbar > .container-fluid .navbar-right-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      position: absolute;
      right: 0;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar > .container .navbar-right-expand-toggle .icon, .navbar > .container-fluid .navbar-right-expand-toggle .icon {
      font-size: 1.4em; }
      .navbar-right > li > a.dropdown-toggle:hover{background-color: #ECEFF4;}

    .navbar .navbar-breadcrumb > li {
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em; }
  .navbar .navbar-nav > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px 20px; }
  .navbar .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    z-index: -1;
    position: absolute; }

    .navbar .dropdown-menu .title {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px 10px;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .navbar .dropdown-menu .message {
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      padding: 10px 20px; }
    .navbar .dropdown-menu .notifications.list-group {
      list-style: none;
      padding: 0;
      margin: 0; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item {
        min-width: 250px;
        padding: 8px;
        border: 0;
        border-bottom: 1px solid #EEE; }
        .navbar .dropdown-menu .notifications.list-group .list-group-item .icon {
          margin-right: 5px; }
      .navbar .dropdown-menu .notifications.list-group .badge {
        border-radius: 1em; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
      .navbar .dropdown-menu .notifications.list-group .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }
      .navbar .dropdown-menu .notifications.list-group a.list-group-item:hover {
        cursor: pointer; }
  .navbar .dropdown.profile .dropdown-menu {
    width: 250px;
    padding-bottom: 0px;
    text-align: center; }
    .navbar .dropdown.profile .dropdown-menu li.profile-img {
      padding: 0px;
      max-height: 300px;
      overflow: hidden; }
      .navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
        width: 100%;
        height: auto;
        margin: 0px;
        border: 0; }
    .navbar .dropdown.profile .dropdown-menu .profile-info {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 15px; }
      .profile-info > div{width: 100%;text-align: center;margin-left: 10%;}
      .profile-info > div > a{width: 40%;padding: 8px;margin: 5px;}

        ul.dropdown-menu{padding: 0;}

.app-container {
  min-height: 100%;
  width:100%;
    height:100%;
  position: relative;
   }
  .app-container .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 65px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif; }
    .app-container .app-footer .wrapper {
      padding: 10px 35px;
      padding-left: 25px;
      height: 50px;
      line-height: 50px;
      vertical-align: middle; }
  .app-container .content-container {
    margin-right: 0;
    margin-left: 0; }


.app-container.expanded .app-footer {
  left: 250px; }
  .app-container.expanded .app-footer .wrapper {
    padding-left: 25px; }

.app-container.expanded .content-container .navbar-top {
  padding-left: 250px; }

.app-container.expanded .content-container .side-menu {
  width: 250px; }
  .app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    display: inline-block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li a .title {
    display: inline-block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in {
    display: block; }
  .app-container.expanded .content-container .side-menu .navbar-nav li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    right: 1em; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-left: -15px;
  margin-right: -15px; }


/* Main body section */
.app-container .side-body {
    width: 80%;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.app-container.expanded .side-body {
  margin-left: 260px; }

/* small screen */
@media (max-width: 768px) {
  .navbar {
    padding-left: 0; }
    .navbar .navbar-header {
      width: auto;
      display: block; }
    .navbar .navbar-nav {
      width: auto;
      margin: 0; }
      .navbar .navbar-nav > li {
        display: inline-block; }
    .navbar .navbar-right {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      .navbar .navbar-right .open .dropdown-menu {
        position: absolute; }
    .navbar .navbar-right.expanded {
      right: 0; }
  .app-container .navbar-top {
    min-width: 300px; }
  .app-container .content-container .side-menu {
    margin-left: -250px;
    width: 0px; }
  .app-container .content-container .side-body {
    margin-left: 10px; }
  .app-container.expanded .navbar-top {
    min-width: 480px;
    padding-left: 0px; }
  .app-container.expanded .side-menu {
    margin-left: 0px;
    width: 250px; }
  .app-container.expanded .side-body {
    margin-left: 10px; }
  .app-container .app-footer .wrapper, .app-container.expanded .app-footer .wrapper {
    padding-left: 25px; } }

.panel {
  border-radius: 1px; }
  .panel .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }



.btn {
  border-radius: 1px;
  border-width: 1px;
  font-family: 'Roboto Condensed', sans-serif; }

.btn-group-lg > .btn, .btn-group-lg > .btn-lg {
  border-radius: 1px; }

.progress {
  border-radius: 1px;
  box-shadow: none; }
  .progress .progress-bar {
    box-shadow: none; }

.pagination {
  margin-top: 5px;
  margin-bottom: 5px; }
  .pagination li:first-child > a, .pagination li:first-child span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .pagination li:last-child > a, .pagination li:last-child span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.form-control {
  border-radius: 1px;
  box-shadow: none; }

.bs-example-modal .modal {
  z-index: 100;
  position: relative;
  display: block; }

.modal {
  z-index: 100001; }
  .modal .modal-dialog .modal-header {
    font-family: 'Roboto Condensed', sans-serif; }
  .modal .modal-dialog .modal-content {
    border-radius: 1px;
    box-shadow: none; }
  .modal .modal-dialog .modal-footer .btn {
    margin-top: 0;
    margin-bottom: 0; }

.modal-backdrop {
  z-index: 100000; }

.modal-backdrop.in {
  opacity: 0.8; }

.alert {
  border-width: 0px;
  border-radius: 1px; }

.list-group .badge {
  border-radius: 1px; }

.list-group .list-group-item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.list-group .list-group-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.checkbox3, .radio3 {
  margin-top: 0px;
  margin-bottom: 0px; }

.checkbox-inline {
  margin-bottom: 5px; }

.checkbox3 label, .radio3 label {
  padding: 8px 0 8px 30px; }

.checkbox3 label::before, .radio3 label::before {
  top: 5px; }

.checkbox3 label::after, .radio3 label::after {
  top: 5px; }

.checkbox3 label, .radio3 label, .checkbox-inline, .radio-inline {
  font-weight: normal; }

.bootstrap-switch {
  border-radius: 1px; }

.loader-container {
  display: none; }

.loader .loader-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1003; }

.loader:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  border-radius: 1px; }

.row.example > [class*='col-'] > div {
  background-color: #EEE;
  padding: 10px;
  border: 1px solid #DDD; }

.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb > li + li:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 3px; }

.bs-example > * {
  margin-bottom: 20px; }

.bs-example > *:last-child {
  margin-bottom: 5px; }

.row-example > [class*="col-"] {
  margin-bottom: 0px; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

} }
