/**
 * Definições Gerais
 */

.no-padding {padding: 0px !important;}
.no-background{ background: none;}
.pointer{cursor: pointer;}
.float-left {float: left;}
.float-right {float: right;}
.clear-both {clear: both;}
.no-margin-bottom {margin-bottom: 0;}
.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }
  .no-margin, .row > .margin{margin: 0 !important;}
.text-indent {text-indent: 1em;}
.width-90{width: 90%;}
.inline{display: inline}

.loader-container {
  display: none; }
  .loader .loader-container {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1003; }
      .loader:after {
          content: "";
          display: block;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.9);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1001;
          border-radius: 1px; }

/**
 * Estrutura Geral das Páginas
 **/
.app-container {
  min-height: 100%;
  width:100%;
  height:100%;
  position: relative;}
    .app-container .side-body {
    width: 80%;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
    .app-container.expanded .side-body {
        margin-left: 260px; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-left: -15px;
  margin-right: -15px; }

.conteudo{padding: 10px;margin: 50px 0;}


/**
 * Layout Topo (breadcrumb e Login profile)
**/
#topo{
   background-color: #eceff4;
   height: 50px;
   width: 100%;
   z-index: 990;
   left: 0;
   top: 0;
   position: fixed;}
   #navegador{
     font-size:16px;
     margin-top: 15px;
     margin-left: 20%;
     line-height: 0;
     background: none;}
     .profile-info{padding: 5px;text-align: center;}
         .profile-info > p{font-size: 12px;font-weight: bold;word-break: break-all;}
        .profile-info > div{width: 100%;text-align: center;margin-left: 10%;}
        .profile-info > div > a{width: 40%;padding: 8px;margin: 5px;}
    ul.dropdown-menu{padding: 0;}

/**
 * Menu Principal
**/
header.menu-lateral {
    position: fixed;
    z-index: 995;
    width: 20%;
    height: 100%;
    background-color: #2d6688;}
    header.menu-lateral div, header.menu-lateral nav
    , header.menu-lateral ul, header.menu-lateral li
    , header.menu-lateral input, header.menu-lateral label{
      margin: 0;
      padding: 0;
      border: 0}
    header.menu-lateral ul{list-style: none;}
    header.menu-lateral > .nav-header{
        height: 80px;
        line-height: 80px;
        text-align: center;}
        header.menu-lateral > .nav-header > .title{
            color: #e9f0f1;
            margin-left: 20px;
            font-size: 13px;
            font-style: italic;
            box-shadow: inset 0 -1px #2d6688;}
    div.nav-header > a.logo > img{display: inherit;}
    header.menu-lateral span.icon{
    color: #e4f2f1;
    margin-right: 10px;}

header.menu-lateral > .nav > ul > li > label {
  display: block;
  padding: .85rem;
  font-weight: normal;
  color: #fff;
  box-shadow: inset 0 -1px #296183;}

header.menu-lateral > .nav a:focus, header.menu-lateral > .nav a:hover
, header.menu-lateral > .nav label:focus, header.menu-lateral > .nav label:hover {
  background: #F53444;
}

header.menu-lateral > .nav label { cursor: pointer; }


.group-list a, .group-list label {
  padding: 1.25rem 0 1.25rem 3rem;
  display: block;
  color: #d5e5ee;
  background: #285977;
  box-shadow: inset 0 -1px #2d6688;
}


.group-list a:focus, .group-list a:hover
, .group-list label:focus, .group-list label:hover {
     background: #F53444; }
    .group-list {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height .5s ease-in-out;
      transition: max-height .5s ease-in-out;
    }

.nav__list input[type=checkbox]:checked + label + ul {
    max-height: 1000px; }

label > span.seta {
  float: right;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;}
    .nav__list input[type=checkbox]:checked + label > span.seta {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
