body{background-color: #f9f9f9;}

.navbar-top, #menu-lateral, #menu-lateral > nav, #menu-lateral > nav > div > ul > li{
  background-color: #457B9D;
}

#menu-lateral .navbar-default .navbar-brand, #menu-lateral .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  color: #f9f9f9;
}

#topo{background-color: #E63946;color: #f9f9f9;}
/* Subarea selecionada */
#menu-lateral > nav  > div > ul.nav > li > a[aria-expanded="true"]{background-color: #376c8c; }
#menu-lateral > nav  > div > ul.nav > li > div[aria-expanded="true"]{background-color: #377194; }

#topo {height: 80px;}

#topo > ul > li.dropdown{background-color: none;}
.navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover{background-color: none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: #d73541;color: #f9f9f9;}
.navbar-default .navbar-nav>li>a.user-menu {color: #f9f9f9;}


.profile-info{color:#333333;}
#topo > div > ol.breadcrumb > li{color: #f9f9f9; }

.button-link{
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

a.logo {position: fixed;left: 50%; margin: 0 auto;}

.table tbody>tr>td.middle-align,.table tbody>tr>th.middle-align{vertical-align: middle;}
.table tbody{font-size: 15px;}

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .title{margin-left: 15px;}

.name-title-1{font-size: 36px;font-weight: bold;}
.name-title-2{font-size: 30px;}
.name-title-3{font-size: 24px;}
