body{background-color: #f9f9f9;}
h2{color:#376c8c;}

.navbar-top, #menu-lateral, #menu-lateral > nav, #menu-lateral > nav > div > ul > li{
  background-color: #457B9D;
}

#menu-lateral .navbar-default .navbar-brand, #menu-lateral .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  color: #f9f9f9;
}

#topo{background-color: #E63946;color: #f9f9f9;}
/* Subarea selecionada */
#menu-lateral > nav  > div > ul.nav > li > a[aria-expanded="true"]{background-color: #376c8c; }
#menu-lateral > nav  > div > ul.nav > li > div[aria-expanded="true"]{background-color: #377194; }

#topo {height: 80px;}

#topo > ul > li.dropdown{background-color: none;}
.navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover{background-color: none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: #d73541;color: #f9f9f9;}
.navbar-default .navbar-nav>li>a.user-menu {color: #f9f9f9;}


.profile-info{color:#333333;}
#topo > div > ol.breadcrumb > li{color: #f9f9f9; }

.button-link{
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

a.logo {position: fixed;left: 50%; margin: 0 auto;}

.table tbody>tr>td.middle-align,.table tbody>tr>th.middle-align{vertical-align: middle;}
.table tbody{font-size: 15px;}

.modal-header-danger {
	color:#fff;
    /*padding:9px 15px;*/
    border-bottom:1px solid #eee;
    background-color: #d9534f;
}
.modal-header-warning {
	color:#000;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d6d94f;
}

.modal-header-info {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #337ab7;
}
.modal-header-success {
	color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #229d2a;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .title{margin-left: 15px;}

.name-title-1{font-size: 36px;font-weight: bold;}
.name-title-2{font-size: 30px;}
.name-title-3{font-size: 24px;}
.bigtext1{font-size: 150%;}

.width-80{width: 80%;}

span.counter{font-size: 120%;font-weight: bold;}

.highlighted { background: yellow }

#navegador{font-size:18px;margin-top: 15px;background: none;}

.inline{display: inline}

ul.rolebox{list-style-type: none;margin:0;-webkit-margin-before:0em;-webkit-margin-after:0em;-webkit-padding-start:0;}
ul.rolebox > li{font-size:12px;font-weight: bold;}
ul.rolebox > li > span{padding: 4px;margin: 3px;float:left;}
ul.rolebox > li > span.role-user-admin{background-color: #e72828;color:#ffffff;}
ul.rolebox > li > span.role-user-manage{background-color: #eed064;color:#5d5017;}
ul.rolebox > li > span.role-user-users{background-color: #284de7;color:#ffffff;}
span.notrole{color:#5e5d5d;background-color: #e3dddd;}
label.permissons-label{text-align: right;}

.btn-group >button, .btn-group >a {margin-right: 10px;}
.destaque{font-weight: bold; color: #376c8c; }

.card-evento{
    margin: 10px;
    display: inline-block;
    border: 1px solid #a7bbb1;
    width: 300px;
    padding: 6px;
    position: relative;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}
.card-evento .titulo{
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #dddddd;
    margin-right: 50px;
}
.card-evento .dias-restando{}

.eventos-card{table-layout: fixed;width: 100%;}
.data{
    position: absolute;
    top: 8px; right:5px;
    background-color: #ffffff;
    width: 50px; height: 50px;
    border-top: 2px solid #E63946;
    border-right: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
}
.data p.dia{font-size:22px;font-weight: bold;margin:0;color: #E63946;}
.data p.mes{font-size: 12px;font-style: italic;margin:0;}

.thumbnail{
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.thumbnail img{
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
}

.thumbnail img:hover{
    filter: none;
  -webkit-filter: grayscale(0);
}
.thumbnail:hover{
    cursor: pointer;
}

.thumbnail p {
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: bold;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background-color: #1288c3;
    color: white;

}

ul.thumbnails.image_picker_selector li .thumbnail.selected img{
    filter: none;
    -webkit-filter: grayscale(0);
}


.card-staff{
    margin: 6px;
    display: inline-block;
    border: 1px solid #a7bbb1;
    padding: 4px 14px 4px 3px;
    position: relative;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    float:left;
}

.escala-staff{
    margin: 4px;
    display: inline-block;
    padding: 4px 14px 4px 3px;
    border: 1px solid #a7bbb1;
    position: relative;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: url("../img/FFFFFF-0.5.png") repeat;
    float: left;
}

.escala-staff:hover{cursor: pointer;}

.option-selected{ border: 2px solid #1288c3; background: url("../img/yellow-0.5.png") repeat; }

.add-staff{
    border: 1px solid #a7bbb1;
    padding: 10px;
    float:left;
}

.add-servico{
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-bottom: 12px;
    padding: 6px;
}

.sem-usuario{vertical-align: middle;display: inline-block;}
.staff-selecionados{line-height: 96px;}

.servico-odd{background-color: #e0e9ed;}
.servico-even{background-color: #e2f0f6;}

.card-staff .avatar, .escala-staff .avatar{
    width: 70px;
    float: left;
}
.card-staff .avatar img, .escala-staff .avatar img{
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.card-staff .dados, .escala-staff .dados{margin-left: 76px;}
.card-staff .dados p, .escala-staff .dados p{margin: 0;}
.card-staff .dados .nome,.escala-staff .dados .nome{font-weight: bold;}
.card-staff .dados .lider{font-weight: bold;color: #E63946; }

.img-servico-index{width: 48px;height:48px;}

.status-escala{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px;
    font-weight: bold;
    float: left;
}

.sem-escala{
    border: 1px solid #E63946;
    color: #E63946;
    background-color: #eed3d5;
}
.no-margin, .row > .margin{margin: 0 !important;}
.descricao-servico{font-weight: bold;}

.loading{font-weight: bold;color:#1288c3;}

span.idade{padding:6px;}

.pointer{cursor: pointer;}

/* Relacionamentos */
span.relacionamento-desc{padding: 3px;font-weight: bold;border-radius: 3px;}

/* Cores relacionamentos*/
.relacionamento-desc.conjuge{background-color: #acd2eb;}
.relacionamento-desc.pai-mae{background-color: #e8b571;}
.relacionamento-desc.irmao{background-color: #87d6a4;}
.relacionamento-desc.filho{background-color: #deb6b3;}

.relacionamento-desc.discipulo{background-color: #acd2eb;}
.relacionamento-desc.discipulador{background-color: #e8b571;}

div.relacionamentos > h3{color:#337ab7;font-weight: bold;}
div.relacionamentos > h4{color:#337ab7;margin-left: 5px;}
div.relacionamentos > ul > li{margin-left: 10px;}
div.relacionamentos > ul > li > i.fa-link{color: #AAA;}

.no-results{font-style: italic;color:#AAA}
a.remover-relacionamento{color:#E63946;}

table.membros > tbody > tr > td > img.profile-img {width: 70px;}
