/* Coolors Exported Palette - coolors.co/cc333f-2460a1-373f51-ffd275-fffff2 */

/* HSL */
$color1: hsla(355%, 60%, 50%, 1);
$color2: hsla(211%, 63%, 39%, 1);
$color3: hsla(222%, 19%, 27%, 1);
$color4: hsla(40%, 100%, 73%, 1);
$color5: hsla(60%, 100%, 97%, 1);

/* RGB */
$color1: rgba(204, 51, 63, 1);
$color2: rgba(36, 96, 161, 1);
$color3: rgba(55, 63, 81, 1);
$color4: rgba(255, 210, 117, 1);
$color5: rgba(255, 255, 242, 1);